*equibop*
*"Github Desktop"/*
obsidian/
GitHub Desktop/.guid
GitHub Desktop/Cache/Cache_Data/11dc54ca4c2b8792_0
GitHub Desktop/Cache/Cache_Data/1c4956720a595252_0
GitHub Desktop/Cache/Cache_Data/40e11c6aeb8fc933_0
GitHub Desktop/Cache/Cache_Data/44dd123a2c58c04a_0
GitHub Desktop/Cache/Cache_Data/524e3a502eccb074_0
GitHub Desktop/Cache/Cache_Data/5283edf90cf4ab50_0
GitHub Desktop/Cache/Cache_Data/553a3f64781c8cbf_0
GitHub Desktop/Cache/Cache_Data/5af51883e50a969d_0
GitHub Desktop/Cache/Cache_Data/831ec151088eaa53_0
GitHub Desktop/Cache/Cache_Data/8cb6447bf6239bb8_0
GitHub Desktop/Cache/Cache_Data/95513bee7195226d_0
GitHub Desktop/Cache/Cache_Data/9767651f81da3f8a_0
GitHub Desktop/Cache/Cache_Data/a0faa1cf2559f76f_0
GitHub Desktop/Cache/Cache_Data/d8b08866529f0cf6_0
GitHub Desktop/Cache/Cache_Data/df786f052ef90b8a_0
GitHub Desktop/Cache/Cache_Data/e887d648c137d89c_0
GitHub Desktop/Cache/Cache_Data/f241aaab22d269d2_0
GitHub Desktop/Cache/Cache_Data/index
GitHub Desktop/Cache/Cache_Data/index-dir/the-real-index
GitHub Desktop/Code Cache/js/index
GitHub Desktop/Code Cache/js/index-dir/the-real-index
GitHub Desktop/Code Cache/wasm/index
GitHub Desktop/Code Cache/wasm/index-dir/the-real-index
GitHub Desktop/Cookies
GitHub Desktop/Cookies-journal
GitHub Desktop/Crashpad/client_id
GitHub Desktop/DawnGraphiteCache/data_0
GitHub Desktop/DawnGraphiteCache/data_1
GitHub Desktop/DawnGraphiteCache/data_2
GitHub Desktop/DawnGraphiteCache/data_3
GitHub Desktop/DawnGraphiteCache/index
GitHub Desktop/DawnWebGPUCache/data_0
GitHub Desktop/DawnWebGPUCache/data_1
GitHub Desktop/DawnWebGPUCache/data_2
GitHub Desktop/DawnWebGPUCache/data_3
GitHub Desktop/DawnWebGPUCache/index
GitHub Desktop/Dictionaries/en-US-10-1.bdic
GitHub Desktop/GPUCache/data_0
GitHub Desktop/GPUCache/data_1
GitHub Desktop/GPUCache/data_2
GitHub Desktop/GPUCache/data_3
GitHub Desktop/GPUCache/index
GitHub Desktop/IndexedDB/file__0.indexeddb.leveldb/000003.log
GitHub Desktop/IndexedDB/file__0.indexeddb.leveldb/CURRENT
GitHub Desktop/IndexedDB/file__0.indexeddb.leveldb/LOCK
GitHub Desktop/IndexedDB/file__0.indexeddb.leveldb/LOG
GitHub Desktop/IndexedDB/file__0.indexeddb.leveldb/LOG.old
GitHub Desktop/IndexedDB/file__0.indexeddb.leveldb/MANIFEST-000001
GitHub Desktop/Local Storage/leveldb/000003.log
GitHub Desktop/Local Storage/leveldb/CURRENT
GitHub Desktop/Local Storage/leveldb/LOCK
GitHub Desktop/Local Storage/leveldb/LOG
GitHub Desktop/Local Storage/leveldb/LOG.old
GitHub Desktop/Local Storage/leveldb/MANIFEST-000001
GitHub Desktop/logs/2025-10-02.desktop.production.log
GitHub Desktop/Network Persistent State
GitHub Desktop/Preferences
GitHub Desktop/Session Storage/000003.log
GitHub Desktop/Session Storage/CURRENT
GitHub Desktop/Session Storage/LOCK
GitHub Desktop/Session Storage/LOG
GitHub Desktop/Session Storage/MANIFEST-000001
GitHub Desktop/Shared Dictionary/cache/index
GitHub Desktop/Shared Dictionary/cache/index-dir/the-real-index
GitHub Desktop/Shared Dictionary/db
GitHub Desktop/Shared Dictionary/db-journal
GitHub Desktop/SharedStorage
GitHub Desktop/SharedStorage-wal
GitHub Desktop/SingletonCookie
GitHub Desktop/SingletonLock
GitHub Desktop/SingletonSocket
GitHub Desktop/TransportSecurity
GitHub Desktop/Trust Tokens
GitHub Desktop/Trust Tokens-journal
GitHub Desktop/WebStorage/QuotaManager
GitHub Desktop/WebStorage/QuotaManager-journal
GitHub Desktop/window-state.json
mimeapps.list
GitHub Desktop/logs/2025-10-03.desktop.production.log
/GitHub Desktop
